<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Тестовое задание — Список мест</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
    <script src="node_modules/axios/dist/axios.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>

<body>
    <div class="container" id="app">
        <div class="row">
            <div class="col-md-12">
                <h1>Список мест</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form>
                    <div class="input-group">
                        <span class="input-group-addon">🔔</span>
                        <input type="text" name="name" placeholder="Название места" class="form-control" id="item-name" v-model="item.name">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">🗺</span>
                        <input type="text" name="address" placeholder="Адрес" class="form-control" id="item-address" v-model="item.address">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary" v-on:click="addMark(item, $event)" id="addMark">Добавить</button>
                </form>
            </div>
            <div class="col-md-6">
                <div id="map" style="width: 100%; height: 400px"></div>
                <br>
                <table class="table table-striped" id="list">
                    <tr v-for="(item, index) in list" v-if="item.name != ''" v-bind:index="index">
                        <th scope="row">{{index + 1}}</th>
                        <td>{{item.name}}</td>
                        <td>{{item.address}}</td>
                        <td><input class="form-check-input" type="checkbox" v-bind:value="index" title="Отметить как посещенное"></td>
                        <td><span class="show-place" title="Показать на карте">📍</span></td>
                        <td><span class="remove" title="Удалить">❌</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script src="js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>

</html>